@model OutOfOffice.DTO.LeaveRequest.LeaveRequestDTO

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>LeaveRequest</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            
            <div data-mdb-input-init class="form-outline mb-4">
                <label asp-for="AbsenseReason" class="control-label"></label>
                <select asp-for="AbsenseReason" class="form-control">
                    <option value="0">Sick</option>
                    <option value="1">Vacation</option>
                </select>
                <span asp-validation-for="AbsenseReason" class="text-danger"></span>
            </div>
            <div data-mdb-input-init class="form-outline mb-4">
                <label asp-for="StartDate" class="control-label"></label>
                <input asp-for="StartDate" class="form-control" />
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
            <div data-mdb-input-init class="form-outline mb-4">
                <label asp-for="EndDate" class="control-label"></label>
                <input asp-for="EndDate" class="form-control" />
                <span asp-validation-for="EndDate" class="text-danger"></span>
            </div>
            <div data-mdb-input-init class="form-outline mb-4">
                <label asp-for="Comment" class="control-label"></label>
                <input asp-for="Comment" class="form-control" />
                <span asp-validation-for="Comment" class="text-danger"></span>
            </div>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
                <a class="btn btn-danger" asp-action="Index">Back to List</a>
            </div>
        </form>
    </div>
</div>

