@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to OutOfOffice app</h1>
    <p>The app was created as a test project for the vacancy of Junior CRM Developer. Project was developed by Valentyn Renhach</p>
</div>
